*{
    padding: 0%;
    margin: 0%;
    text-align: center;
}
body{
    background-color: rgb(222, 219, 219);
}
.nav{
    font-size: 30px;
    background-color: aqua;
    display: flex;
    padding: 1pc;
    justify-content: space-between;
    align-items: center;
}
.nav ul{
    display: flex;
    gap: 8pc;
    list-style: none;
}
.nav ul a,.sectioned a{
    text-decoration: none;
    color: rgb(255, 0, 144);
    
}
.sections{
    display: flex;
}
.side-bar{
    color: aliceblue;
    background-color: black;
    height: 100vh;
    flex: 1;
    font-size: 25px;
}
.sectioned{
    display: flex;
    align-items: center;
}
.sectioned img{
    height: 4pc;
    width: 4pc;
    border-radius: 50%;
}
.section{
    flex: 6;
    height: 100vh;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.section div{
    background-image: linear-gradient(to bottom left  ,rgb(0, 9, 128) ,rgb(255, 0, 225));
    height: 12pc;
    width: 12pc;
    margin: 16px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: hover .5s ;
    
}
.section div:hover{
    box-shadow:12px 12px 12px grey;
}

#footer{
    background-color: aqua;
}